snippet def
def ${1:nameOfThing}
		${2:Stuff}
end

snippet defr
def ${1:nameOfThing}(${2:Args})
		${3:Stuff}
end

snippet lam
{ |${1:it}| ${2:Stuff} }

snippet bl
do |${1: it}|
		${2:Stuff}
end

snippet unt
until ${1: expression}

snippet iff
if ${1: expression}


